body {
    margin: 0;
    background-color: #FCF8F6;
}

:root {
    --rose: #87635A;
    --red: #C73B0F;
}

#root {
    margin: 50px;
}

.the-main {
    font-family: 'Red Hat Text';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
    width: 95%;
    margin: auto;
}

/* Desserts All Container */
.left-cont {
    min-width: 60%;
    max-width: 95%;
    flex: 5;
}
.desserts-all {
    display: flex;
    flex-flow: row wrap;
    gap: 25px;
}

h1 {
    font-weight: bolder;
}

/* Dessert Card */
.dessert-card {
    display: flex;
    flex-direction: column;
}

.dessert-card p {
    margin: 3px;
    margin-left: 0;

}

.dessert-cat {
    color: var(--rose);
}

.dessert-name {
    font-weight: bold;
}

.price {
    color: var(--red);
    font-weight: bold;
}

.img-btn-cont {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
}

.add-btn {
    width: 150px;
    align-self: center;
    background-color: white;
    border: solid 1.5px var(--rose);
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 12px ;
    padding: 5px;
    position: absolute;
    right: 50px;
    top: 224px;
}

/* Right Side */
.right-side {
    min-width: 400px;
    max-width: 75%;
    flex: 1;
}

.cart-cont {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.cart-cont img {
    width: 128px;
}

.cart-cont p {
    color: var(--rose);
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2rem;
}

h2 {
    align-self: flex-start;
    margin: 20px;
    color: var(--red);
    font-weight: 1700;
}